<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>

    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-12 col-12 mx-auto ">
                <div class="row">
                    <div class="col-md-12 col-12 leftprt align-items-center">
                        <figure>
                            <img src="images/error.jpg" alt="jai" class="img-fluid errorimg" />
                        </figure>
                        <p>welcome </p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/"><button>Back</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>