<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
    {{>navbar}}
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="title text-center mt-3">Covid-19 live <span>updates</span> of India</h1>
                <table class="table table-bordered covtable" id="session">
                    <thead>
                        <tr>
                            <th scope="col">State</th>
                            <th class="table-active" scope="col">Active case</th>
                            <th scope="col">Confirmed</th>
                            <th class="table-danger" scope="col">Deaths</th>
                            <th class="table-success" scope="col">Recovered</th>
                        </tr>
                    </thead>
                    <tbody id="tabbody"></tbody>
                </table>
            </div>
        </div>
    </div>
    {{>footer}}
    <script>
        const table = document.getElementById("tabbody");
        $(document).ready(function () {
            $('.covtable').hide();
            $.get("https://api.covid19india.org/data.json", (data, status) => {
                $('.covtable').show();
                let res = data.statewise;
                res.map((mam) => {
                    const { state, active, confirmed, deaths, recovered } = mam;
                    $("#tabbody").append(`<tr><td>${state}</td><td class="table-active">${active}</td><td>${confirmed}</td><td class="table-danger">${deaths}</td><td class="table-success">${recovered}</td></tr>`);
                })
            })
        })


    </script>

</body>

</html>