<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    {{>navbar}}
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                {{!-- jquery is now working now start the main project and finsh it tommorow any how and try to deploy
                it --}}
                <section class="get-in-touch">
                    <h1 class="title">Check your nearest vaccine center availablity</h1>
                    <h2 class="checkbypin">check by pin</h2>
                    <div class="alert alert-primary" role="alert">
                        <small> please refresh before loading new data!</small>
                    </div>
                    <form class="contact-form row">
                        <div class="form-field col-md-6">
                            <input id="pin" class="input-text js-input" type="number" required placeholder="Pin">

                        </div>
                        <div class="form-field col-md-6">
                            <input id="date" class="input-text js-input" type="text" required placeholder="Date">

                        </div>

                        <table class="table table-sm vactable" id="session">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Age Limit</th>
                                    <th scope="col">vaccine name</th>
                                    <th scope="col">Fees</th>

                                </tr>
                            </thead>
                            <tbody id="tabbody"></tbody>
                        </table>
                        <div class="alert alert-primary pri col-md-12" role="alert">
                            The data for this date is not available !
                        </div>

                        <div class="form-field col-md-6">
                            <input class="submit-btn" type="submit" value="Check">
                        </div>

                        <div class="form-field col-md-6">
                            <input class="refreshbtn" type="submit" value="Refresh">
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>


    {{>footer}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.vactable').hide();
            $('.pri').hide();
            $('.submit-btn').click(function (e) {
                e.preventDefault();
                let pin = $('#pin').val();
                let date = $('#date').val();
                if (pin === "" || pin == undefined) {
                    alert("Enter the Pin correctly");
                }
                $.get(`https://cdn-api.co-vin.in/api/v2/appointment/sessions/public/findByPin?pincode=${pin}&date=${date}`, (data, status) => {
                    let res = [];
                    res = data.sessions;
                    if (res.length == 0) {
                        $('.pri').show();
                    }
                    else {
                        $('.vactable').show();
                        res.map(vac => {
                            let { name, address, from, to, fee_type, vaccine, fee, min_age_limit } = vac;
                            $('#tabbody').append(`<tr><td>${name}</td><td>${address}</td><td>${from} to ${to}</td><td>${fee_type}</td><td>${min_age_limit} +</td><td>${vaccine}</td><td>${fee}</td></tr>`)
                        })

                    }



                })
            })
            $('.refreshbtn').click(() => {

                location.reload();
            })
        })
    </script>
</body>

</html>